body{
    margin: 0px;
    font-family: 'Dosis';
  
}
.foto{
    background-image: url(images/hinchada-cristal-opaco.jpg);
    background-size: cover;
}
.menu{
    background-color: rgba(60, 190, 239, 0.8);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 5px 0px;
    margin-top:0px ;
    z-index: 1000;
    top: 0;
    left: 0;
}
.menu a{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.menu img{
    display: block;
}
.submenu{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #D42A2A;
    border-radius: 5px;
    width: 150px;
    padding: 3px;
}
.submenu li{
    padding: 5px 0px;
}
.submenu a{
    padding: 5px;
}
.menu>li>a:hover{
    color: #F0D145;
}
.menu li:hover .submenu{
    display: block;
}
.menu img:hover{
    opacity: 0.85;
    transform: scale(1.05);
}
.submenu li:hover{
    background-color: rgba(60, 190, 239, 0.9);
    border-radius: 5px;
}
.boton1{
    margin: 20px 0px 60px 0px;
    text-align: center;
}
.boton1 a{
    background-color: rgba(60, 190, 239, 1);
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: white solid 2px;
    border-radius: 20px;
}
.boton1 a:hover{
    background-color: #D42A2A;
    border: rgba(60, 190, 239, 1) solid 2px;
}
.boton2{
    margin: 10px 0px;
    text-align: center;
}
.boton2 a{
    text-decoration: none;
    background-color: #D42A2A;
    color: white;
    padding: 5px 15px;
    border: white solid 2px;
    border-radius: 20px;
}
.boton2 a:hover{
    background-color: rgba(60, 190, 239, 1);
    border: #F0D145 solid 2px;
}
h1{
    color: #D42A2A;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 40px;
    color: #D42A2A;
}
h3{
    text-align: center;
}
h4{
    font-style: italic;
    text-align: center;
}


.caja1{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;
}
.caja1>div{
    width: 20%;
    background-color: rgba(60, 190, 239, 0.2);
    padding: 10px;
    border-radius: 10px;
    /* grid-gap: 20px;
    grid-template-columns: auto auto auto; */
    flex: none;
    margin-bottom: 50px; 
   
  
}
.caja1 img{
    width: 100%;
    border-radius: 10px;
    /* filter: grayscale(100%); */
    transition: transform 0.5s, filter 0.5s;
}
.caja1 h4{
    margin: 10px;
}
.caja1 h3{
    margin: 10px 0px 20px 0px;
}
.caja1::-webkit-scrollbar{
  display: none;
 }

.caja1 div img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}
.caja1.active{
  cursor: grabbing;
  
}
.caja2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(60, 190, 239, 0.2);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}
.caja2 h3{
    font-size: 30px;
}
.caja2 p{
    text-align: justify;
    margin: 20px 0px;
}
.caja2>div{
    width: 45%;
    font: 0px;
}
.caja2 img{
    width: 600px;
    height: 370px;
    object-fit: cover;
    border-radius: 10px;
}




.cont-NH{
  width: 100%;
  margin: 20px auto;
  padding: 20px 40px;
  background-color: aliceblue;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}
.infoP {
    display: flex; /* Esto hará que la imagen y el nuevo div con el texto estén uno al lado del otro */
    gap: 5px;
}
.titulo-parra{
    display: flex;
    flex-direction: column; /* Coloca el título sobre el párrafo */
    max-width: 100%;
}
.infoP p {
    width: 85%; /* Ahora el párrafo puede ocupar todo el ancho del nuevo div */
    margin: 50px 50px 0; /* Elimina el margen para evitar espacios no deseados */
    line-height: 1.5;
    height: auto;
    text-align: justify;
    font-size:25px;
    font-family: DOSIS ;
    align-items: center;
 
}
.nuestaIMG {
  width: 900px;
  height: 520px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}
.imges{
  justify-content: center;
  display: flex;
  flex-direction:row;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.imges img {
  width: 428px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.imges img:hover {
  transform: scale(1.05);
}
.caja3{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 20px 0px;
}
.caja3 a{
    width: 20%;
    text-decoration: none;
}
.caja3 div{
    border-radius: 30px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja3 h2{
    color: white;
    font-size: 45px;
}
.caja3 a:hover{
    opacity: 0.85;
    transform: scale(1.05);
}
.texto{
    width: 90%;
    margin: auto;
}
.texto h1{
    text-align: center;
}
.texto h3{
    text-align: left;
}
.texto p{
    text-align: justify;
}
.caja4{
    border-radius: 10px;
    margin: 20px auto;
    width: 400px;
}
.caja4 h3{
    text-align: center;
    font-size: 20px;
}
.caja4 p{
    text-align: center;
}
.centrar{
    text-align: center;
}
table {
    border: rgba(60, 190, 239, 1) solid 5px;
    border-collapse: collapse;
}
th, td {
    border: 2px solid rgba(60, 190, 239, 0.5);
    padding: 10px;
    text-align: center;
}
input{
    width: 300px;
    padding: 10px;
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    border: #0D1F98 solid 2px;
}
select{
    padding: 10px;
    border-radius: 5px;
    border: #0D1F98 solid 2px;
}
.enviar{
    width: 70px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    border: #D42A2A solid 2px;
}
.enviar:hover{
    background-color: #0D1F98;
    color: white;
    border: white solid 2px;
}
footer{
    display: block;
    text-align: center;
    font-family: 'Dosis';
    background-color: rgba(60, 190, 239, 0.3);
    margin: 0;
  padding: 20px 0;
}
footer>img{
    padding: 20px;
    width: 80px;
}
footer div img{
    width: 40px;
    padding: 0px 10px;
}
footer p{
    padding: 20px;
    margin: 0px;
}

/*fixture*/
.partido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 60px 80px;
  margin-bottom: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.equipo {
  text-align: center;
  width: 150px;
}

.equipo img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

.info {
  text-align: center;
  flex-grow: 1;
}

.info h3 {
  margin: 0;
  font-size: 27px;
  padding-bottom: 15px;
}

.info p {
  margin: 6px 0;
  font-size: 16px;
  color: #555;
}

.nombreEquipo {
  font-size: 19px;
  font-weight: bold;
}

.portada {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ocupa toda la altura de la ventana */
  height: 100vh; 
  width: 100%;
  /* Oculta lo que sobresalga */
  overflow: hidden;
}
.portada img {
    width: 100%;
    height: 100%;
    /* La imagen se ajusta sin deformarse */
    object-fit: cover; 
  }

  .FondoPartidos {
    background-image: url(images/Logos/hinchada.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 20px;
  }


.contenedorCentral {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.lado img {
  width: 400px;
  padding: auto;
  height: auto;
}

.contenidoCentro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.partido1,
.partidoInfo1 {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
  min-height: 250px; /* Asegura altura mínima */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin: 0 auto 20px auto;
  padding: 40px 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.partidoInfo1 p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin-bottom: 15px;
  display: block;
}

.blog {
    padding: 30px 20px 100px 20px;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.blog-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(25% - 20px); /* 4 columnas ahora */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 0;
    min-height: 500px; /* fuerza igual altura para todos */
}

.blog-txt {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
     text-align: justify;
}

.blog-txt h3 {
    font-family: 'Times New Roman';
    color: #4E4B5076;
    font-size: 28px;
    margin-bottom: 25px;

}

.blog-1 img {
    width: 100%; 
    height: 300px; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.conteniendo {
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 1700px;
    margin: 20px auto;
    width: 90%;
    height: 60vh;
    background: white; 
    padding-top: 1px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 80px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.historia{
    width: 50%;
    padding: 30px;
    text-align: center;
}

.historia h1 {
    font-size: 50px;
    font-family: Arial, sans-serif;
    text-align: left;
    text-align: center;
     margin-bottom: 10px;
}

.historia p {
    font-size: 20px;
    margin-top: 0;
    text-align: justify;

}

.imagenR {
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-top: 20px;
}
.imagenR img{
  position: relative;
  top: 92px;
}

.colo{
    background-color: #c7f2ff;
    padding-top: 10px;
    padding-bottom: 60px;
}


.contenedorCarta {
  width: 200px;
  height: 550px;
  perspective: 1000px;
  margin: 20px;
}

.carasUnidas {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.caraFrontal{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.caraTrasera {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  backface-visibility: hidden;
  background: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caraTrasera img {
  width: 210px;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 5px;
 
}

.caraFrontal h3,
.caraTrasera h3 {
  padding-top: 20px;
  margin: 230px 0px 5px;
  font-size: 30px;
  color: #0078C8;
  
}

.caraFrontal p,
.caraTrasera p {
  font-size: 18px;
}

.caraFrontal img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.caraTrasera {
  transform: rotateY(180deg);
  background: #f3f3f3;
}

.contenedorCarta.flipped .carasUnidas {
  transform: rotateY(180deg);
}


.caraTrasera {
  background: linear-gradient(to bottom right, #77c9ff, #ffffff);
  color: #000;
}

.contenedorCarta {
  border: 2px solid #00bfff;
  box-shadow: 0 0 10px #00bfff;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  from { box-shadow: 0 0 5px #00bfff; }
  to { box-shadow: 0 0 20px #00ffff; }
}


.nombreJugador {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

.datosJugador {
  list-style: none;
  padding: 0;
  margin: 30px;
  font-size: 20px;
  line-height: 1.8;
}

.datosJugador li {
  margin-bottom: 5px;
}


.encabezadoEquipo {
  background: linear-gradient(to right, #0078C8, rgb(0, 191, 255)); /* Fondo azul degradado */
  padding: 30px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  border-radius: 12px;
  margin: auto auto;
  width: 84%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  animation: fadeIn 1s ease;
}


.encabezadoEquipo h2 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 46px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* PARTE DEL CARRUSEL */
.carousel-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.carousel-slide {
  display: none;
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  user-select: none;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {opacity: 0.4;}
  to {opacity: 1;}
}

/* FIN PARTE DE CARRUSEL*/

.contenedor-cartas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px 20px; /* espacio superior e inferior moderado */
    margin-bottom: 30px; /* espacio razonable antes de la siguiente sección */
}

.contenedor-cartas>div{
    width: 23%;
    background-color: rgba(60, 190, 239, 0.2);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px; 
}

.contenedor-cartas h4{
    margin: 10px;
}
.contenedor-cartas h3{
    margin: 1px 0px 20px 0px;
}


/*xiomara
*/
.welcome-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 162, 255, 0.8); /* azul con transparencia */
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.welcome-box input {
  padding: 8px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.welcome-box button {
  background: #00aaff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.welcome-box h2{
  color: white;
}

/* === CONTADOR XIOMARA === */

/* Fondo de los dígitos */
.flipdown .rotor {
  background-color: #00ADEF !important; 
}

/* Números */
.flipdown .rotor .rotor-leaf-front,
.flipdown .rotor .rotor-leaf-back,
.flipdown .rotor .rotor-top,
.flipdown .rotor .rotor-bottom {
  color: #fff !important;
  background-color: #00ADEF !important;
}

/* Ocultar etiquetas en inglés */
.flipdown .rotor-group-heading:before {
  display: none !important;
  content: "" !important;
}

/* Etiquetas (Días, Horas...) */
.flipdown .rotor-group-heading {
  color: #00ADEF !important;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  font-family:'Dosis', sans-serif; 
}

/* Contenedor general */
.contador-container {
  position: relative;
  background-image: url('images/contadorfinal.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; 
  margin: 0;
  padding: 40px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.contador-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 174, 239, 0.4);
  z-index: 0;
}


.contador-container * {
  position: relative;
  z-index: 1;
}

/* Caja para texto + contador */
.content-box {
  background: rgba(255, 253, 253, 0.5);
  padding: 40px 60px;
  border-radius: 15px;
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  text-align: center;
}


.content-box h2 {
  font-size: 50px;
  color: #D42A2A;
  margin-bottom: 20px;
}


.content-box p {
 font-size: 20px;
  color: #003B5C; 
  margin: 12px auto;
  padding: 10px 20px;
  max-width: 700px;
  background: rgba(255,255,255,0.6);
  border-radius: 10px;
  line-height: 1.6;
}


#contador {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}


.content-box .button {
  background-color: #00ADEF;
  text-decoration: none;
  color: white;
  padding: 12px 40px;
  border: white solid 2px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 30px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.content-box .button:hover {
  background-color: #D42A2A;
  border: #00ADEF solid 2px;
}

/* SECCIÓN FINAL CRISTAL */
.final-cristal {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-bottom: 0;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.final-cristal .frase-motivadora {
 margin-bottom: 15px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #003B5C;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  font-family: 'Dosis', sans-serif;
}

.final-cristal .escudo {
  width: 60%;
  display: flex;
  justify-content: center;
}

.final-cristal .escudo img {
  width: 100%;        /* ocupa todo el ancho del contenedor */
  max-width: 1000px;  /* limita el tamaño máximo si la pantalla es muy grande */
  height: auto;
  filter: drop-shadow(0 0 25px rgba(0,0,0,0.3));
  margin-bottom: 0;   
  transition: transform 0.3s ease;
}

.final-cristal .escudo img:hover {
  transform: scale(1.05);
}
/**/

.caja2-2 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin: 20px 0;
  background-color: rgba(60, 190, 239, 0.2);
  padding: 30px 40px;
}


.estadio-visor {
  flex: 3;
  max-width: 950px;
  margin-left: 40px;
}

.estadio-imagen img {
  width: 550px;          
  height: 450px;    
  object-fit: cover;
  border-radius: 10px;
  
}

.estadio-miniaturas {
  display: flex;
  gap: 10px;
}

.estadio-miniaturas img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: 0.3s;
}

.estadio-miniaturas img:hover {
  border: 2px solid #00aaff;
}

.estadio-miniaturas img.activo {
  border: 2px solid orange;
}

/* Columna derecha */
.estadio-texto {
  flex: 2;
}


@media (max-width: 768px) {
  .caja2 {
    flex-direction: column;
  }
}


